.result {
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    word-break: break-word;
    border-radius: 15px;
    border-style: none;
    background-color: #49504e;
    color: #d6d9db;
}