.form__labelText {
    display: inline-block;
    width: 100%;
    margin-right: 5px;
    max-width: 250px;
}

.form__field {
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__field--select:hover {
    background-color: hsl(163, 5%, 80%);
}

.form__fieldset {
    border-radius: 15px;
    border-style: double;
    border-color:#49504e;
    padding: 20px;
    margin-top: 80px;
    background-color: #ebebeb;
}

.form__legend {
    border-radius: 15px;
    border-style: double;
    padding: 20px;
    background-color: #49504e;
    font-size: 30px;
    font-weight: 700;
    color: #d6d9db;
    text-align: center;
}

.button {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: #49504e;
    border-radius: 15px;
    padding: 10px;
    border-style: none;
    color: #d6d9db;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(163, 5%, 40%);
}

.button:active {
    background-color: hsl(163, 5%, 50%);
}